[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
numpy = "*"
pandas = "*"
scipy = "*"
jupyter = "*"
notebook = "*"
pyparsing = "*"
holoviews = "*"
datashader = "*"

[dev-packages]

[requires]
python_version = "3.7"
